<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Informações do app</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <h1>Apps Rico</h1>
    <p class="text-wrap">Somos um grupo de soluções digitais para o seu negocio, criamos apps que 
      atendem suas necessidades e de seus clientes. Na atual fase em que vivemos, o mercado digital
      se torna um diferencial. Não deixe essa oportunidade, 
      venha fazer o seu aplicativo e alavanque o seu negocio. 
      Contato: (43) 998139746. </p>
  </ion-card>

</ion-content>
