.text-wrap {
    white-space: pre-wrap;
} 
.search {
    width: 100%;
    height: 100px;
    background-image: url('/assets/icon/visa2.png');
    background-position: center top;
    background-repeat: no-repeat;
    background-size: cover;
}
.card {
    width: 350px
}